---
import Posts from "@components/Posts.astro";
import Hero from "@components/Hero.jsx";
import Projects from "@components/Projects.astro";
import RecentProjects from "@components/RecentProjects.astro";
import { HOME, SITE } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import RecentPosts from "@components/RecentPosts.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
    <Hero client:load />
    <!-- spacer between sections -->
    <div style="height: 10rem;"></div>
    <RecentProjects />
    
    <!-- spacer between sections -->
    <div style="height: 10rem;"></div>
    <RecentPosts/>
    <!-- spacer between sections -->
    <div style="height: 10rem;"></div>
</PageLayout>

<style>
    
</style>
