---
import { SITE, SOCIALS } from "@consts";
---

<footer>
    <a style="font-weight: 700;" href="/">{SITE.INITIALS}</a>
    {SOCIALS.map((social) => <a href={social.HREF}>{social.NAME}</a>)}
</footer>
