<section>
    <article>
        <h1 class="animate">Astro Pico</h1>
        <p class="animate">
            I'm a minimalist theme for Astro that leaves the bare necessities,
            use it as a blog and a place to showcase your projects and resume.
        </p>
    </article>
</section>

<style>
    section {
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p {
        max-width: 20rem;
    }
</style>
