---
import { SOCIALS } from "@consts";
---

<section class="hero-section">
    <article>
        <h1 class="animate">Jordan Ayotte</h1>
        <p class="animate">
            Fullstack developer located in Ottawa, Ontario. Part designer, part problem-solver. My loves include programming, chess, philosophy, video games, movies, and music. 
        </p>
        <span class="hero-links animate">
            {SOCIALS.map((social) => <a href={social.HREF}>{social.NAME}</a>)}
        </span>
    </article>
</section>
