<section class="hero-section">
    <article>
        <h1 class="animate">Jordan Ayotte</h1>
        <p class="animate">
            Frontend developer from Ottawa, Ontario. Passionate about working on technically
            challenging projects that push the boundaries of web design and development.
        </p>
    </article>
</section>
