---
import { SITE } from "@consts";
---

<div></div>
<nav>
    <a style="font-weight: 700;" href="/">{SITE.INITIALS}</a>
    <a href="/projects">projects</a>
    <a href="/posts">blog</a>
    <a href="/resume.pdf">resume</a>
</nav>

<style>
    div {
        height: 2.5rem;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        max-width: var(--site-max-width);
        padding: 0.5em 5vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        backdrop-filter: blur(6px);
    }
</style>
