---
import { getCollection } from "astro:content";
import ArrowLink from "./ArrowLink.astro";

let posts = await getCollection("posts");
---

<section>
    <h2 class="animate">POSTS</h2>
    <ul>
        {
            posts.map((post) => (
                <li class="animate">
                    <a class="group" href={`/posts/${post.id}`}>
                        <article>
                            <h3>{post.data.title}</h3>
                            <p>{post.data.description}</p>
                        </article>
                        <ArrowLink />
                    </a>
                </li>
            ))
        }
    </ul>
</section>

<style>
    a {
        text-decoration: none;
        display: block;
        padding: 1em 0;
    }

    .group {
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;
    }
    h2 {
        margin-bottom: 0.5em;
    }

    h3,
    p {
        max-width: 20rem;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
    }

    li {
        border-top: 1px solid var(--white);
    }

    li:last-child {
        border-bottom: 1px solid var(--white);
    }

    h3 {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing:;
    }
</style>
