---
import { getCollection } from "astro:content";
import ArrowLink from "./ArrowLink.astro";
const projects = await getCollection("projects");
---

<section id="projects">
    <h2>01. PROJECTS</h2>
    <ul>
        {
            projects.map((project) => (
                <li>
                    <a class="group" href={`/projects/${project.id}`}>
                        <article>
                            <h3>{project.data.title}</h3>
                            <p>{project.data.description}</p>
                        </article>
                        <ArrowLink />
                    </a>
                </li>
            ))
        }
    </ul>
</section>

<style>
    a {
        text-decoration: none;
        display: block;
        padding: 1em 0;
    }

    .group {
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    h3,
    p {
        max-width: 80%;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
    }

    li {
        border-top: 1px solid var(--white);
    }

    li:last-child {
        border-bottom: 1px solid var(--white);
    }

    h3 {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing:;
    }
</style>
