---
import { getCollection } from "astro:content";
import ArrowLink from "./ArrowLink.astro";
import { SITE } from "@consts";
let projects = await getCollection("projects");
projects
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .splice(SITE.NUM_PROJECTS_ON_HOMEPAGE, projects.length);
---

<section id="projects">
    <h2 class="animate">RECENT PROJECTS</h2>
    <ul>
        {
            projects.map((project) => (
                <li class="animate">
                    <a class="group" href={`/projects/${project.id}`}>
                        <article>
                            <h3>{project.data.title}</h3>
                            <p>{project.data.description}</p>
                        </article>
                        <ArrowLink />
                    </a>
                </li>
            ))
        }
    </ul>
    <a class="see-all-link animate" href="/projects">see all projects</a>
</section>

<style>
    .group {
        text-decoration: none;
        display: block;
        padding: 1em 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }
    h2 {
        margin-bottom: 0.5em;
    }

    h3,
    p {
        max-width: 80%;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
    }

    li {
        border-top: 1px solid var(--white);
    }

    li:last-child {
        border-bottom: 1px solid var(--white);
    }

    h3 {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing:;
    }
</style>
