:root {
    --white: #f6f6f6;
    --tight-spacing: -0.05em;
    --site-max-width: 60rem;
}

html,
body {
    background-color: #171521;
    color: var(--white);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    margin: 1rem 0;
}

main {
    max-width: var(--site-max-width);
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

h1,
h2 {
    font-size: 2rem;
    letter-spacing: var(--tight-spacing);
    margin: 0.5em 0;
    font-weight: 700;
}

h3 {
    letter-spacing: var(--tight-spacing);
}

p {
    line-height: 1.5em;
    font-weight: 400;

}

footer {
    max-width: var(--site-max-width);
    padding: 0.5em 5vw;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--white);
}

a:hover .arrow-icon {
    opacity: 1;
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v18-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.animate {
    opacity: 0;
    transform: translateY(12px);
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}