:root {
    --white: #f4f4f4;
    --tighter-spacing: -0.045em;
    --tight-spacing: -0.035em;
    --site-max-width: 60rem;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
    background-color: #0c0909;
    color: var(--white);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    margin: 1.25rem 0;
}

p:has(img) {
    margin: 0;
}

main {
    max-width: var(--site-max-width);
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    letter-spacing: var(--tighter-spacing);
    font-weight: 700;
    margin-top: 1.25em;
    margin-bottom: 0.35em;
}
h2 {
    font-size: 2rem;
    letter-spacing: var(--tight-spacing);
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h3 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h5 {
    margin-top: 0.85em;
    margin-bottom: 0.5em;
}

h6 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.5em;
    margin-bottom: 1.25em;
}

pre {
    margin-bottom: 1.25em;
}

footer {
    max-width: var(--site-max-width);
    padding: 0.5em 5vw;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--white);
}

a:hover .arrow-icon {
    opacity: 1;
}
img {
    border-radius: 0.5em;
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v18-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.animate {
    opacity: 0;
    transform: translateY(12px);
    transition: all;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}